# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment directories
venv/
env/
.aero_env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs
logs/
*.log
*.out
*.err

# Local configurations
.env
*.local

# Test & coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
junit.xml
test-reports/

# Jupyter Notebook files
.ipynb_checkpoints/

# Environment data
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker files
Dockerfile
.dockerignore

# Git files
.git/
.gitignore
